*{
    margin:0;
    padding:0;
}
img{
    margin-left: 45%;
    border-radius: 8%;
}
nav{
    background-color: #a7bedc;
    padding: 10px;
    text-align: center;
 a{  
    text-decoration: none;
    color:#343434;
    font-family: "Playpen Sans", cursive;
  font-weight: normal;
font-size: 20px;
margin: 3px;
text-align: right;
 }
}

body{
    background-color:#ffffff;
color:#343434;
margin-left: 100px;
margin-right: 100px;
}
div{
    background-color: #a7bedc;
    padding: 3px;
h1{
    font-family: "Playpen Sans", cursive;
  font-weight: bold;
font-size: 40px;
    color: #343434;
    margin-left: 20px;
    text-align: center;
}
}

p{
    font-family: "Playpen Sans", cursive;
  font-weight: regular;
font-size: 18px;
margin-left: 40px;
margin-right: 40px;
}
section {
img{
    width:500px;
    height: 600px;
    margin-left: 2%;
}
}

button{
background-color: #ffffff;
    border: none;
    margin: 10px 4px;
    border-radius: 12px; 
    transition-duration: 0.3s;
}

section{
    background-color: #a7bedc;
    padding: 10px;
}

footer{
    background-color: #a7bedc;
    padding: 15px;
a{
    margin-left: 30px;
}
}

a{
    text-decoration: none;
    font-family: "Playpen Sans", cursive;
  font-weight: regular;
font-size: 18px;
color: #343434;
}

#mainContent{
    display: flex;
    flex-direction: row;
}