
body{
    background-color:#e9ebe5;
color:#000000;
margin-left: 100px;
margin-right: 100px; 
}

div{
    background-color: #79a3d7;
    padding: 3px;
h1{
    font-family: "Playpen Sans", cursive;
  font-weight: bold;
font-size: 40px;
    color: #e9ebe5;
    margin-left: 20px;
}
}

section{
    background-color: #79a3d7;
    padding: 10px;
}
li{
    font-family: "Playpen Sans", cursive;
      font-weight: normal;
    font-size: 18px;
    margin-right: 30px;
}

button{
    background-color: #e9ebe5;
        border: none; 
        margin: 8px 2px;
        border-radius: 12px; 
        transition-duration: 0.3s;
    }

    nav{
        background-color: #79a3d7;
        padding: 10px;
        text-align: right;
     a{  
        text-decoration: none;
        color:#79a3d7;
        font-family: "Playpen Sans", cursive;
      font-weight: normal;
    font-size: 20px;
    margin-right: 30px;
     }
    }

    footer{
        background-color: #79a3d7;
        padding: 15px;
    a{
        margin-left: 30px;
    }
    }